<section class="mt-0  mb-16">
    @if(step === 1){
        <form [formGroup]="verifyEmail" class="max-w-4xl mx-auto mt-36 shadow-2xl p-8  rounded-lg  mb-5" (ngSubmit)="verifyEmailSub()">
            <div class="mb-5 text-start ">
                <div class="shake-wrapper relative" [ngClass]="{ shake: shakeFields['email'] }" > 
                    <label for="email" 
                    [ngClass]="{
                        'main-txt':!verifyEmail.get('email')?.errors || !verifyEmail.get('email')?.touched,
                        'text-red-700 ':
                        verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched,
                    colored: colorFields['email']
                    }"
                    class="block  mb-2 text-[18px] font-medium ">
                    E-mail
                </label>
                    <i
                        class="main-color fa-regular fa-envelope w-[20px] h-[16px] absolute left-3 top-[73%] transform -translate-y-1/2 text-gray-500"
                    ></i>
                    <input formControlName="email" type="email" id="email" placeholder="Email"
                    (blur)="checkError('email')"
                    [ngClass]="{
                        'bg-transparent  ': !verifyEmail.get('email')?.errors || !verifyEmail.get('email')?.touched,
                        '': verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched
                    }"
                    class="text-sm md:text-[18px] focus:border-[#8B5E35] border border-[#8B5E35] rounded-full shadow-lg  block w-full p-2.5 pl-10 focus:ring-0"  />
                    
                </div>
                    @if(verifyEmail.get('email')?.getError('required') && verifyEmail.get('email')?.touched ){
                        {{wrongInput("email","Email is required!")}}
    
                    }
    
                    @if(verifyEmail.get('email')?.getError('email') && verifyEmail.get('email')?.touched ){
                        {{wrongInput("email","Enter a valid Email!")}}
    
                    }
            </div>
    
            <button type="submit"
            class="text-end m-6 text-white main-color-bg hover:bg-white hover:text-[#8B5E35] border-[#8B5E35] transition-all duration-[500ms] border-2 focus:ring-0 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-lg px-16 sm:w-auto  py-3    ">
            Verify Email
            </button>
        </form>
    }
    @if (step === 2) {
        <form [formGroup]="verifyCode" class="max-w-4xl mx-auto mt-36 shadow-2xl p-8  rounded-lg  mb-auto" (ngSubmit)="verifyCodeSub()">
            <div class="mb-5 text-start ">
                <div class="shake-wrapper relative" [ngClass]="{ shake: shakeFields['resetCode'] }" > 
                    <label for="code" 
                    [ngClass]="{
                        'main-txt ':!verifyCode.get('resetCode')?.errors || !verifyCode.get('resetCode')?.touched,
                        ' ':
                        verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched,
                        colored: colorFields['resetCode']
                    }"
                    class="block  mb-2 text-[18px] font-medium ">
                    Code
                </label>
                    <i
                        class="main-color fa-regular fa-envelope w-[20px] h-[16px] absolute left-3 top-[73%] transform -translate-y-1/2 text-gray-500"
                    ></i>
                    <input formControlName="resetCode" type="text" id="code" placeholder="xxxxxx" maxlength="6"
                    (blur)="checkError('resetCode')"
                    [ngClass]="{
                        'bg-transparent  ': !verifyCode.get('resetCode')?.errors || !verifyCode.get('resetCode')?.touched,
                        '': verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched
                    }"
                    class=" shadow-lg  block w-full p-2.5 pl-10 text-sm md:text-[18px] focus:border-[#8B5E35] border border-[#8B5E35] rounded-full focus:ring-0"  />
                    
                </div>
                    @if(verifyCode.get('resetCode')?.getError('required') && verifyCode.get('resetCode')?.touched ){
                        {{wrongInput("resetCode","Code is required!")}}
    
                    }
    
                    @if(verifyCode.get('resetCode')?.getError('resetCode') && verifyCode.get('resetCode')?.touched ){
                        {{wrongInput("resetCode","Enter a valid code!")}}
    
                    }
            </div>
    
            <button type="submit"
            class="text-end m-6 text-white main-color-bg hover:bg-white hover:text-[#8B5E35] border-[#8B5E35] transition-all duration-[500ms] border-2 focus:ring-0 focus:outline-none  font-medium rounded-full text-lg px-16 sm:w-auto  py-3    ">
            Verify Code
            </button>
        </form>
    }
    @if (step === 3) {
        <form [formGroup]="resetPassword" class="max-w-4xl mx-auto mt-16 shadow-2xl p-8 pt-6  rounded-lg  mb-5" (ngSubmit)="newPasswordSub()">
            <div class="mb-5 text-start">
                <div class="shake-wrapper relative" [ngClass]="{ shake: shakeFields['email'] }" > 
                    <label for="email" 
                        [ngClass]="{
                            'main-txt ': !resetPassword.get('email')?.errors || !resetPassword.get('email')?.touched,
                            'text-red-700 ': resetPassword.get('email')?.errors && resetPassword.get('email')?.touched,'shake': shakeFields['email'],
                            colored: colorFields['email']
                        }"
                        class="text-start block mb-2 text-sm font-medium  main-txt">
                        Email
                    </label>
                    <i
                    class="main-color fa-regular fa-envelope w-[20px] h-[16px] absolute left-3 top-[70%] transform -translate-y-1/2 text-gray-500"
                    ></i>
                    <input readonly formControlName="email" type="email" id="email" placeholder="Email"
                        (blur)="checkError('email')"
                        [ngClass]="{
                            'bg-transparent ': !resetPassword.get('email')?.errors || !resetPassword.get('email')?.touched,
                            'bg-red-50 ': resetPassword.get('email')?.errors && resetPassword.get('email')?.touched
                        }"
                        class="text-xs sm:text-sm md:text-[18px] focus:border-[#8B5E35] border border-[#8B5E35] rounded-full shadow-lg block w-full p-2.5 pl-10 focus:ring-0" />
                        @if(resetPassword.get('email')?.getError('required') && resetPassword.get('email')?.touched ){
                            {{wrongInput("email" , "Please enter your email")}}
        
                        }
        
                        @if(resetPassword.get('email')?.getError('email') && resetPassword.get('email')?.touched ){
                            {{wrongInput("email" , "The email is not valid")}}
                        }
                </div>
            </div>

            <div class="mb-3">
                <div class="shake-wrapper relative" [ngClass]="{ shake: shakeFields['newPassword'] }" > 
                    <label for="password" 
                        [ngClass]="{
                            'main-txt ': !resetPassword.get('newPassword')?.errors || !resetPassword.get('newPassword')?.touched,
                            'text-red-700 ': resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched,'colored':colorFields['newPassword']
                        }"
                        class="text-start block mb-2 text-sm font-medium  ">
                        Password
                    </label>
                    <i
                    class="main-color fa-solid fa-lock w-[20px] h-[16px] absolute left-3 top-[70%] transform -translate-y-1/2 text-gray-500"
                    ></i>
                    <input formControlName="newPassword" [type]="fieldTextType()['password'] ? 'text' : 'password'"  id="password" placeholder="Password"
                        (blur)="checkError('newPassword')"
                        [ngClass]="{
                            'bg-transparent ': !resetPassword.get('newPassword')?.errors || !resetPassword.get('newPassword')?.touched,
                            'bg-red-50 ': resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched,
                        }"
                        class="text-xs sm:text-sm md:text-[18px] focus:border-[#8B5E35] border border-[#8B5E35] rounded-full shadow-lg  focus:ring-0 block w-full p-2.5 pl-10" />
                        <div class="p-5 pe-10 rounded-r-full absolute right-0 top-[50%] transform -translate-y-1/2  bg-white border-[#8B5E35] border">
                          <i (click)="changVisible('password')"
                          [ngClass]="{
                              'fa-eye-slash': !fieldTextType()['password'],
                              'fa-eye': fieldTextType()['password']
                          }"
                          class="cursor-pointer main-color fa-solid fa-eye w-[20px] h-[16px] text-lg absolute right-5 top-[50%] transform -translate-y-1/2 hover:scale-110 transition-all duration-500 ease-in-out"
                        ></i>
                        </div>

                        @if(resetPassword.get('newPassword')?.getError('required') && resetPassword.get('newPassword')?.touched ){
                            {{wrongInput("newPassword" , "You should enter new password")}}
        
                        }
        
                        @if(resetPassword.get('newPassword')?.getError('pattern') && resetPassword.get('newPassword')?.touched ){
                            {{wrongInput("newPassword" , "Pleas enter a valid password")}}
                        }

                </div>
                <div class="main-color text-start">
                    <p class="mt-2 text-lg 0">Password should have at least:</p>
                    <ul class="ms-5">
                        <li><p class="mt-2 text-md">8 Characters</p></li>
                        <li><p class="mt-2 text-md">1 Uppercase letter</p></li>
                        <li><p class="mt-2 text-md">1 Lowercase letter</p></li>
                        <li><p class="mt-2 text-md">1 Number</p></li>
                    </ul>
                </div>
    
            </div>



    
            <button type="submit"
            class="text-white hover:bg-white hover:text-[#8B5E35] border-[#8B5E35] transition-all duration-[500ms] border-2 main-color-bg block font-medium rounded-full text-[20px] w-[45%] mx-auto py-3 text-center">
            Reset Password
            </button>
        </form>
    }

</section>
