.sec-head{
    font-family: 'Hedvig Letters Serif', serif;
    color:#8B5E35 ;
    line-height: 42.88px;
    font-size: 32px;
    font-weight: 400;
}
.sec-head1{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #090F41;
}