
.hero-bg{
    background-image:   url(/images/hero.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width:100% ;

}


.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.199)), url(/images/carasoul-home.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.mySwiper {

    align-items: start;
    justify-content: start;
    height: 100%;
  }
swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
  }

  swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;

    align-items: start;
    justify-content: start;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
  }

  swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  swiper-slide .subtitle {
    font-size: 21px;
  }

  swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }

  .testmonial-swiper swiper-slide{
    padding-left: 24px;
    padding-right: 24px;
  }

.card:hover .add-button{
    opacity: 1;
    transform: scale(100%);
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -ms-transform: scale(100%);
    -o-transform: scale(100%);
}

.sec-head{
  font-family: 'Hedvig Letters Serif', serif;
  color:#8B5E35 ;
  line-height: 42.88px;
  font-size: 32px;
  font-weight: 400;
}
.main-color{
  color: #8B5E35;
}



.shadow-img{
  box-shadow: inset 0px 0px 200px 3px rgba(0,0,0,0.65);
  -webkit-box-shadow: inset 0px 0px 200px 3px rgba(0,0,0,0.65);
  -moz-box-shadow: inset 0px 0px 200px 3px rgba(0,0,0,0.65);
}


.sec-head1{
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #090F41;
}

.bg-img-2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.199)), url(/images/2nd-bg.png) ;

}
