<section class="my-16  md:mx-16 mx-12">
    <div class="flex flex-col my-16">
        @if(gridcols() > 3){
            <div class="grid grid-cols-4 justify-end relative"> 
                <div class="min-h-[400px] w-[526px] my-auto z-10">
                    <div class="min-h-[400px] bg-white rounded-xl shadow-xl p-10">
                        <div class="flex flex-col text-start gap-5">
                            <i class="fa-solid fa-quote-left main-color text-4xl"></i>
                            <p class="font-medium italic text-xl leading-[150%] text-[#344054]">We are glad to present you our most perfect Shopify theme, which supports Sections Everywhere, very high metric scores by google page speed insight. This is the most mobile-oriented theme that will be convenient on any of your devices.</p>
                            <div class="flex items-center justify-between">
                                <span class="capitalize main-txt font-semibold">jack donowan</span>
                                <img src="./images/sign.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-3 h-[600px] relative ">
                    <img class="ms-auto object-cover rounded-2xl h-[600px]" src="./images/aboutMain.png" alt="">
                </div>
            </div>
            }@else if(gridcols() >= 2) {
                <div class="flex flex-col justify-end relative mb-96 md:mb-80"> 
                    <div class="col-span-3 h-[600px] relative ">
                        <img class="ms-auto object-cover rounded-2xl h-[600px]" src="./images/aboutMain.png" alt="">
                    </div>
                    <div class="min-h-[400px] z-10 absolute top-1/2 translate-y-[50%] md:translate-y-[50%]  box-border mx-7">
                        <div class="min-h-[400px] bg-white rounded-xl shadow-xl p-10">
                            <div class="flex flex-col text-start gap-5">
                                <i class="fa-solid fa-quote-left main-color text-4xl"></i>
                                <p class="font-medium italic sm:leading-[150%] sm:text-xl text-[#344054]">We are glad to present you our most perfect Shopify theme, which supports Sections Everywhere, very high metric scores by google page speed insight. This is the most mobile-oriented theme that will be convenient on any of your devices.</p>
                                <div class="flex items-center justify-between">
                                    <span class="capitalize main-txt font-semibold">jack donowan</span>
                                    <img src="./images/sign.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
            } @else if(gridcols() == 1) {
                <div class="min-h-[400px] z-10  mx-7">
                    <div class="min-h-[400px] bg-white rounded-xl shadow-xl p-10">
                        <div class="flex flex-col text-start gap-5">
                            <i class="fa-solid fa-quote-left main-color text-4xl"></i>
                            <p class="font-medium italic sm:leading-[150%] sm:text-xl text-[#344054]">We are glad to present you our most perfect Shopify theme, which supports Sections Everywhere, very high metric scores by google page speed insight. This is the most mobile-oriented theme that will be convenient on any of your devices.</p>
                            <div class="flex items-center justify-between">
                                <span class="capitalize main-txt font-semibold">jack donowan</span>
                                <img src="./images/sign.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
    <div class="flex flex-col my-16 gap-5">
        <div class="flex flex-col justify-center items-center gap-3 ">
            <h2 class="sec-head1 capitalize">a few words about us</h2>
            <span class="text-sm text-[#667085]">Make your best moments more stylish with our latest designs of clothing.</span>
        </div>
        <div class="flex flex-col gap-10">
            <div class="flex flex-col gap-10">
                <div class="grid grid-cols-1 lg:grid-cols-2 items-center justify-between gap-24">
                    <div class=" p-5">
                        <img src="./images/about1.png" class="w-full rounded-2xl" alt="">
                    </div>
                    <div class="flex flex-col text-start gap-4 border-b-4 border-[#8b5f35ad] pb-10 lg:border-0">
                        <h4 class="main-txt font-bold text-2xl">Why choose us ?</h4>
                        <p class="text-lg text-[#475467]">Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed mauris. Integer congue, sem elementum varius tristique.</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-10">
                <div class="grid grid-cols-1 lg:grid-cols-2 items-center justify-between gap-24">
                    <div class="flex flex-col text-start gap-4">
                        <h4 class="main-txt font-bold text-2xl">Trusted online shopping.</h4>
                        <p class="text-lg text-[#475467]">Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed mauris. Integer congue, sem elementum varius tristique.</p>
                    </div>
                    <div class="p-5 border-b-4 border-[#8b5f35ad] pb-10 lg:border-0">
                        <img src="./images/about1.png" class="w-full rounded-2xl" alt="">
                    </div>
    
                </div>
            </div>
            <div class="flex flex-col gap-10">
                <div class="grid grid-cols-1 lg:grid-cols-2 items-center justify-between gap-24">
                    <div class=" p-5">
                        <img src="./images/about1.png" class="w-full rounded-2xl" alt="">
                    </div>
                    <div class="flex flex-col text-start gap-4 ">
                        <h4 class="main-txt font-bold text-2xl ">Who are we?</h4>
                        <p class="text-lg text-[#475467]">Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed mauris. Integer congue, sem elementum varius tristique.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-16 flex flex-col items-center gap-3">
        <div class="flex items-center gap-3">
            <i class="fa-brands fa-instagram text-[28px]"></i>
            <h3 class="sec-head1 ">
                <span class="italic main-color">#iconic_fashion </span>
                On Instagram
            </h3>
        </div>
        <span class="text-[#667085] text-sm">Phasellus lorem malesuada ligula pulvinar commodo maecenas</span>
    </div>

</section>