

<footer class="bg-white shadow-sm dark:bg-gray-900 ">
    <div class="w-full max-w-screen-2xl mx-auto p-2 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">

            <img src="images/freshcart-logo.svg" class="h-8" alt="freshcart-logo" />
            <ul class=" flex flex-wrap items-center mb-6 text-xl space-x-2 font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-2 md:me-5 w-8">
                        <i class="fa-brands fa-github"></i>

                    </a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-3 md:me-5"><i class="fa-brands fa-facebook "></i></a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-2 md:me-5"><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li>
                    <a href="#" class="hover:underline"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8 " />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://www.facebook.com/profile.php?id=100065678355427" class="hover:underline">Mohamed Abd-almaksod</a>. All Rights Reserved.</span>
    </div>
</footer>


